.pdf-item-wrapper {
    width:700px;
    
    margin:20px auto;
    @media screen and (max-width: 900px) { 
        width:100%;
    }
    & canvas {
    
        object-fit: cover;
        margin-bottom: 20px;
    }
}
.pdf-tracking-bar {
    @media screen and (max-width: 900px) {display:none; }
    position: fixed;
    bottom:3%;
    padding:10px 20px;

    left:50%;
    background:rgba(47,48,49);
    transform: translateX(-50%);
    z-index: 99;
    & p {
        color:white!important;
    }
}